*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    font-family: 'Poppins', sans-serif;
}
.img-fluid{
    width: 100%;
}

.main{
    max-width: 1560px;
    margin: auto;
    transition : all 0.5s ease-in-out;
    position: relative;
}
.container{
    padding: 0 40px;
    width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

.header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    padding: 10px 0 0;
}

.flex-end{
    justify-content: flex-end;
}

nav{
    width: 100%;
    height: 45px;
    background-color:transparent;
    line-height: 50px;
  }
  nav ul{
    float: right;
  }
  nav ul li{
    list-style-type: none;
    display: inline-block;
    transition: 0.7s all;
  }
  nav ul li:hover{
    background-color:#088;
  }
  nav ul li a{
      font-size: 17px;
    text-decoration: none;
    color: #fff;
    padding: 20px;
  }
.logo{
      margin-left:17px;
  }
.flag{
    margin-right:7px;
}
.downarrow{
    margin-right:15px;
}